
/*the tile "Tict'IT" */ 
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vw; /* here i made a font the size responsive (so it shanges with the window width), of course the size is arbitrary for now 10 % , like the color */ 
    color: black; /*for now in black will later apply website color */
}

hr{
    width: 20vw;
    height: 0.1vw;
}
 
body{
    background-color: aquamarine; /*obviously temporary colors for all*/
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    text-align: center;
}

/*ID reference*/ 
#game-board-3x3{ 
    width: 50vw;
    height: 50vw;
    margin:  0 auto; /*centers horizontally*/ 

    background-color: palevioletred;
    color:red;
    border: 0.1vw solid blue;
    border-radius: 0,2vw;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr); /*set rows and columns in grid, 3cells 1 fractionnal unit*/ 
}

/*class reference*/ 
.game-cell{
            border: 0.7vw solid purple;
            border-radius: 0.1vw;
            font-size: 10vw;

            display: flex;
            justify-content: center; /*center txt hlorizontally*/ 
            align-items: center ;/*align txt vertically*/ 
}

.winning-game-cell {
        background-color: beige;
        color: yellow;
}

#restart-game-button{
            height: auto; /*temporary*/ 
            width: auto;
            border: 0.1vw solid rgb(255, 0, 191);
            margin-top: 3vw ;

}